.home__container {
    row-gap: 7rem;
}
.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon {
    font-size: 1.75rem;
    color: var(--title-color);
}
.home__social-icon:hover {
    color: var(--title-color-dark);
    transform: scale(1.015);
}
.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}
.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.5rem;
}
.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 4.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}
.home__subtitle::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}
.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}
.home__img {
    order: 1;
    justify-self: center;
    width: 300px;
    height: 500px;
    animation: profile__animate 6s ease-in-out infinite 1s;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.lazy-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: inset 1px 5px 0 5px rgb(255 255 255 / 30%);
}

@keyframes profile__animate {
    0% {
        border-radius: 1% 10% 1% 10%/1% 10% 1% 10%;
    }
    50% {
        border-radius: 1% 40% 1% 40%/1% 40% 1% 40%;
    }
    100% {
        border-radius: 1% 10% 1% 10%/1% 10% 1% 10%;
    }
}

.home__scroll {
    margin-left: 9.25rem;
}
.wheel {
    animation: scroll 2s ease infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(3.75rem);
    }
}
.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }
    .home__hand {
        width: 26px;
        height: 26px;
    }
    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }
    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }
    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }
    .home__img {
        width: 270px;
        height: 450px;
        box-shadow: inset 1px 5px 0 3px rgb(255 255 255 / 30%);
    }
    .hpme__scroll {
        margin-left: 7.5rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 1.4fr 3fr;
        padding-top: 3.5rem;
    }
    .home__img {
        order: initial;
        justify-self: initial;
    }
    .home__data {
        grid-column: 1/3;
        text-align: center;
    }
    .home__img {
        box-shadow: inset 1px 5px 0 3px rgb(255 255 255 / 30%);
        width: 240px;
        height: 400px;
    }
    .home__scroll {
        display: none;
    }
    .home__subtitle {
        display: none;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .home__img {
        width: 220px;
        height: 370px;
    }
    .home__hand {
        width: 22px;
        height: 22px;
    }
}
