.footer{
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    
}
.footer__container{
    padding: 2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
}
.footer__title, .footer__link{
    color: var(--title-color);
}
.footer__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}
.footer__link:hover{
    color: var(--title-color-dark);
}
.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 0.8rem;
}
.footer__social-link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}
.footer__social-link:hover{
    background-color: var(--title-color-dark);
}
.footer__copy{
    display: block;
    margin-top: 2.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}
.logo{
    width: 280px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .footer__social-link{
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
    .footer__container{
        width: 100%;
        column-gap: 1rem;
    }
  }
 
/* For small devices */
@media screen and (max-width: 350px) {
    .footer__container{
        flex-direction: column;
    }
}